@model IEnumerable<Team>
<h1>Teams</h1>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-controller="Admin" asp-action="Team" name="name" asp-validaton="" />
            <span class="input-group-btn">
                <button class="btn btn-default">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>
        </div>
    </div>
</form>
<div class="form-group">
    <a asp-controller="Admin" asp-action="Home" class="btn btn-primary">Add New</a>
    <a asp-controller="Admin" asp-action="Team" class="btn btn-primary">Show All Teams</a>
</div>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Position</th>
        <th>Text</th>
        <th>Short Description</th>
        <th>Image</th>
    </tr>

    @foreach (var team in Model)
    {
        <tr>
            <td>@team.Name</td>
            <td>@team.Position</td>
            <td>@team.Text</td>
            <td>@team.ShortDescription</td>
            <td><img src="@team.ImageData.GetImageURL()" width="170" height="110" /></td>
            <td>
                <a class="btn btn-lg"
                   asp-controller="Admin" asp-action="Home"
                   asp-route-Id="@team.Id">
                    <i class="glyphicon glyphicon-remove"></i>
                </a>
                <a class="btn btn-lg"
                   asp-controller="Admin" asp-action="TeamEdit"
                   asp-route-Id="@team.Id">
                    <i class="glyphicon glyphicon-edit"></i>
                </a>
            </td>
        </tr>

    }
</table>