@inject IInformationRepository _informationRepository
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] EasyDoesItMovers</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    @if (User.Identity.IsAuthenticated)
    {
        <header>
            <div class="container-fluid">
                <div class="row flex-nowrap">
                    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
                        <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                            <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                                <li>
                                    <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                                        <li class="w-100">
                                            <a asp-controller="Admin" asp-action="Home" class="nav-link px-0"> <span class="d-none d-sm-inline"></span> Home </a>
                                        </li>
                                        <li>
                                            <a asp-controller="Admin" asp-action="Testimonial" class="nav-link px-0"> <span class="d-none d-sm-inline"></span> Testimonials </a>
                                        </li>
                                        <li>
                                            <a asp-controller="Admin" asp-action="Team" class="nav-link px-0"> <span class="d-none d-sm-inline"></span> Teams </a>
                                        </li>
                                        @{
                                            foreach (var info in await _informationRepository.GetInformationPagesAdmin())
                                            {
                                                <li>
                                                    <a asp-controller="Admin" asp-action="Services" asp-route-slug="@info.Slug" class="nav-link px-0"> <span class="d-none d-sm-inline"></span> @info.Title </a>
                                                </li>
                                            }
                                        }
                                        <li>
                                            <a asp-controller="Admin" asp-action="Logout" class="nav-link px-0"> <span class="d-none d-sm-inline"></span> Log Out </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <hr>
                            
                        </div>
                    </div>
                    <div class="col py-3">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </header> 
    }

    else
        {
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
        }



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
